<% include partials/header %>

<h1>The landing page!</h1>

<p>this is going to be the home page of the YelpCamp application!</p>

<a href="/campgrounds">View all campgrounds</a>

<% include partials/footer %>